<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" type='text/css'>
    <link href="//fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap" rel="stylesheet" type='text/css'>
    <title>Settings</title>
    <script type="module" crossorigin src="/settings/js/main-DZtFyw_i.js"></script>
    <link rel="stylesheet" crossorigin href="/settings/css/main-Cn8RoLOI.css">
  </head>
  <body>
    <div id="root"></div>
    <div id="popup-root"></div>
    <!-- Подключаем библиотеку NHLeads для предпросмотра виджетов -->
  </body>
</html>